{{template "base" .}}

{{define "content"}}

<div class="main-column">
  <div class="main-content-wrapper">
    <div class="title-text">𝄞𝄙 Lesson Two: Notes and Duration 𝄙</div>
    <div class="main-content-divider"></div>
    <div class="main-content-body">
      <iframe
        src="https://docs.google.com/presentation/d/e/2PACX-1vSYNlUCrSH-Ognm002tjusmAongxD-KSnNGOHY65YVt8BkndH87bJFFBoHUR15fMdrvbR8CYRmKh1px/embed?start=false&loop=false&delayms=60000"
        frameborder="0"
        width="960"
        height="569"
        allowfullscreen="true"
        mozallowfullscreen="true"
        webkitallowfullscreen="true"
      ></iframe>
    </div>
  </div>
</div>

<div class="user-profile">
  <div class="user-avatar">
    <img
      src="https://cdn.builder.io/api/v1/image/assets/TEMP/c281d02ff57597a8ea93a8efab0d5f3ba580e71b2446bbceea23901d28483257?apiKey=ed9381361b0a41f9b47ca1eb51259dcc&"
      alt="User avatar"
      class="user-avatar-image"
    />
  </div>
  <div class="user-name">Name</div>
</div>

{{ end }}
